{% extends 'base.html' %}

{% block title %}Properties{% endblock %}
{% block styles %}
<style>
    #map {
        height: 600px;
        margin: 10vh;
    }
    a{
        text-decoration: none!important;
    }
    a:hover{
        color: black!important;
    }
    .heart-icon {
      color: #ff6b6b;
      font-size: 24px;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 999;
  }
  .heart-icon.filled {
      color: #ff0000;
  }
  .card-box-a {
      position: relative;
  }
</style>
{% endblock styles %}

{% block body %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Our Amazing Properties</h1>
              <span class="color-text-a">Grid Properties</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties Grid
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <p class='ms-5'>{{ request.user.userprofile.wishlist.all }}</p>
      <div class="container">
        <div class="row">
          {% for property in properties %}
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                {% if property.property_image %}
                <img src="{{ property.property_image.url }}" alt="{{ property.name }}" class="img-a img-fluid">
                {% else %}
                <img src="/static/assets/img/property-default.jpg" alt="{{ property.name }}" class="img-a img-fluid">
                {% endif %}
                <div class="heart-icon-container">
                  {% if property in request.user.userprofile.wishlist.all %}
                  <i class="bi bi-heart-fill heart-icon filled" data-property-id="{{ property.id }}" data-action="remove"></i>
                  {% else %}
                  <i class="bi bi-heart heart-icon" data-property-id="{{ property.id }}" data-action="add"></i>
                  {% endif %}
                </div>
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="#">{{ property.name }}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">{{ property.type }} | STARTING ₹ {{ property.price }}</span>
                    </div>
                    <a href="{% url 'property_details' property.property_id %}" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                  </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      {% if property.area != 0 %}
                      <li>
                        <h4 class="card-info-title">Area</h4>
                        <span>{{ property.area }} m<sup>2</sup></span>
                      </li>
                      {% elif property.bedrooms != 0 %}
                      <li>
                        <h4 class="card-info-title">Beds</h4>
                        <span>{{ property.bedrooms }}</span>
                      </li>
                      {% elif property.bathrooms != 0 %}
                      <li>
                        <h4 class="card-info-title">Baths</h4>
                        <span>{{ property.bathrooms }}</span>
                      </li>
                      {% elif property.kitchens != 0 %}
                      <li>
                        <h4 class="card-info-title">Kitchens</h4>
                        <span>{{ property.kitchens }}</span>
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
                {% if properties.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ properties.previous_page_number }}">
                    <span class="bi bi-chevron-left"></span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <span class="bi bi-chevron-left"></span>
                  </a>
                </li>
                {% endif %}

                {% for page_num in properties.paginator.page_range %}
                {% if page_num == properties.number %}
                <li class="page-item active">
                  <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if properties.has_next %}
                <li class="page-item next">
                  <a class="page-link" href="?page={{ properties.next_page_number }}">
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Property Grid Single-->

  </main>
  {% endblock body %}
  {% block javascript %}
<script>
  $(document).ready(function() {
    $('.heart-icon').click(function() {
      var propertyId = $(this).data('property-id');
      var action = $(this).data('action');
      var heartIcon = $(this);

      $.ajax({
        url: action == 'add' ? "{% url 'add_to_wishlist' 0 %}".replace('0', propertyId) : "{% url 'remove_from_wishlist' 0 %}".replace('0', propertyId),
        method: 'POST',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          console.log(response.message);
          if (action == 'add') {
            heartIcon.removeClass('bi-heart').addClass('bi-heart-fill filled');
            heartIcon.data('action', 'remove');
          } else {
            heartIcon.removeClass('bi-heart-fill filled').addClass('bi-heart');
            heartIcon.data('action', 'add');
          }
        },
        error: function(xhr, errmsg, err) {
          console.log(xhr.status + ": " + xhr.responseText);
        }
      });
    });
  });
</script>
{% endblock javascript %}