{% extends 'base.html' %}

{% block title %}{{ property.name }}{% endblock %}
{% block styles %}
<style>
  #map {
      height: 600px;
      margin: 10vh;
  }
  a {
      text-decoration: none !important;
  }
  a:hover {
      color: black !important;
  }
  .property-single-carousel {
      max-width: 800px;
      margin: 0 auto;
  }
  .property-single-carousel .swiper-slide img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=">
{% endblock styles %}

{% block body %}
<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{ property.name }}</h1>
            <span class="color-text-a">{{ property.locality }}</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'properties' %}">Properties</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ property.name }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Property Single ======= -->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="swiper property-single-carousel">
            <div class="swiper-wrapper">
                {% for image in property.images.all %}
                <div class="swiper-slide">
                    <img src="{{ image.image.url }}" alt="{{ property.name }}" class="img-fluid">
                </div>
                {% empty %}
                <div class="swiper-slide">
                    <img src="{{ property.property_image.url }}" alt="{{ property.name }}" class="img-fluid">
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12">

          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
              <div class="property-price d-flex justify-content-center foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="bi bi-cash"> ₹</span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h5 style='font-size:2rem' class="title-c">{{ property.price | floatformat:0 }}</h5>
                  </div>
                </div>
              </div>
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Quick Summary</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>Property ID:</strong>
                      <span>{{ property.property_id }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Location:</strong>
                      <span>{{ property.locality }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Property Type:</strong>
                      <span>{{ property.type }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Area:</strong>
                      <span>{{ property.area }} m<sup>2</sup></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Beds:</strong>
                      <span>{{ property.bedrooms }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Baths:</strong>
                      <span>{{ property.bathrooms }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Kitchens:</strong>
                      <span>{{ property.kitchens }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Floor:</strong>
                      <span>{{ property.floor }}</span>
                    </li>
                  </ul>
                  <div class="col-md-12 mt-3">
                    <button type="submit" class="btn btn-a w-100">Add to Wishlist</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Property Description</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a">
                    {{ property.description|linebreaks }}
                </p>
              </div>
              <!-- Add other property-specific details here -->
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6">
            <div class="title-box-d">
              <h3 class="title-d">Contact Agent</h3>
            </div>
            <div class="property-contact">
              <form class="form-a">
                <div class="row">
                  <div class="col-md-12 mb-1">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg form-control-a" placeholder="Name *" required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-1">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-lg form-control-a" placeholder="Email *" required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-1">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Message *" rows="5" required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 mt-3">
                    <button type="submit" class="btn btn-a">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="title-box-d">
              <h3 class="title-d">Property Location</h3>
            </div>
            <div id="property-map" style="height: 320px;"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Property Single-->

</main><!-- End #main -->
{% endblock body %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script>
  // Define map options
  const map = L.map('property-map');

  // Add tile layer (using OpenStreetMap tiles)
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  // Get latitude and longitude of the property from the template
  const propertyLat = {{ property.lat }};
  const propertyLng = {{ property.lng }};

  // Set map view to the property's location
  map.setView([propertyLat, propertyLng], 16);

  let iconUrl;
    if ("{{ property.type }}" === "Residential") {
        iconUrl = '/static/map-icons/Residential.png';
    } else if ("{{ property.type }}" === "Agricultural") {
        iconUrl = '/static/map-icons/Agricultural.png';
    } else if ("{{ property.type }}" === "Commercial") {
        iconUrl = '/static/map-icons/Commercial.png';
    } else {
        iconUrl = '/static/map-icons/Other.png';
    }

    // Create custom icon for the property marker
    const customIcon = L.icon({
        iconUrl: iconUrl,
        iconSize: [32, 32],
        iconAnchor: [16, 32],
        popupAnchor: [0, -32]
    });

    // Create marker for the property
    const marker = L.marker([propertyLat, propertyLng], { icon: customIcon }).addTo(map);
    marker.bindPopup(`
        <img style='width:100%;' src='{{ property.property_image.url }}' alt='property_img'>
        <b>{{ property.name }}</b><br>
        <p>Type: {{ property.type }}</p>
        <p>Price: {{ property.price }}</p>
        <p>Locality: {{ property.locality }}</p>
    `);
</script>

<script>
    var swiper = new Swiper('.property-single-carousel', {
        pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
{% endblock javascript %}